<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/_tophalf.ejs") %>
<body>
  <%- include ("../partials/_header.ejs") %>
  <main>
    <div class="container">
      <h1>Welcome</h1>
      <p>Welcome to StoryBooks 1.0.0</p>
      <p>Post stories from the best and worst of your life and choose for them to be read by the world or completely private as your own personal diary</p>
      <% if (!user) { %>
      <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
      <% } %>
    </div>
  </main>
  <%- include ("../partials/_footer.ejs") %>
  <%- include ("../partials/_bottomhalf.ejs") %>
</body>
</html>
